// Spacer
@mixin spacer($width-or-height, $value) {
  .spacer-#{$width-or-height}-#{$value} {
    @if $width-or-height == 'width' {
      margin: 0 #{$value}px;
      display: flex;
    } @else {
      margin: #{$value}px 0;
      display: flex;
    }
  }
}

$size: (40, 50, 60, 70, 80, 90, 100, 110, 120);
$direction: ('width', 'height');

@mixin generate-spacer() {
  @each $d in $direction {
    @each $i in $size {
      @include spacer($d, $i);
    }
  }
}
@include generate-spacer();
