/*
 * Variables
 */

// Typography
$font-size-caption: 10px;
$font-size-body: 16px;
$font-size-subtitle: 20px;
$font-size-title: 24px;
$font-size-display: 36px;

$default-line-height: 1.5;

$font-family: 'Roboto', sans-serif;

// opacity
$opacity-light: 0.6;
$opacity-lighter: 0.3;
$opacity-lightest: 0.08;

// Colors
$background-color: #f4f7fb;

$black: #253746;
$black-light: rgba(#253746, $opacity-light);
$black-lighter: rgba(#253746, $opacity-lighter);
$black-lightest: rgba(#253746, 0.02);

$light-grey: #f4f7fb;
$light-grey-light: rgba(#f4f7fb, $opacity-light);
$light-grey-lighter: rgba(#f4f7fb, $opacity-lighter);
$light-grey-lightest: rgba(#f4f7fb, $opacity-lightest);

$yellow: #d4af37;

// borders
$border-radius-big: 12px;
$border-radius: 6px;
$border-radius-small: 4px;

// margin/padding
$margin: 8px;
$margin-large: 16px;
$margin-larger: 32px;
$margin-largest: 64px;

// breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 1024px;

// box-shadow
$box-shadow-lightest: 0 1px 3px 0 $black-lightest;
$box-shadow-lighter: 0 6px 12px 0 $black-lightest;
$box-shadow-light: 0 12px 20px 0 $black-lightest;
$box-shadow: 0 32px 48px -16px $black-lightest;
